@charset "utf-8";
/* CSS Document */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}
.clearfix:after {
	clear: both
}
smb {
	font-family: sans-serif;
	background: #f6f9fa
}
a {
	color: #f0755b;
	text-decoration: none;
	outline: 0
}
.tcsm {
	width: 100%;
	margin: 0 auto;
	padding-top: 15px;
	position: relative
}
input, section {
	clear: both;
	padding-top: 10px;
	display: none
}
label {
	font-weight: 700;
	font-size: 0.85em;
	display: block;
	float: left;
	width: 20%;
	padding: 1.2em;
	color: #757575;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	background: #f0f0f0
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #content6 {
	display: block;
	padding: 20px;
	background: #fff;
	color: #999;
	font-size: 1.0em;
	border-bottom: 2px solid #f0f0f0
}
.tcsm .tc p, .tcsm .tc h3 {
	-webkit-animation: fadeInScale .7s ease-in-out;
	-moz-animation: fadeInScale .7s ease-in-out;
	animation: fadeInScale .7s ease-in-out
}
.tcsm .tc h3 {
	text-align: center
}
.tcsm [id^="tab"]:checked+label {
	background: #fff;
	box-shadow: inset 0 3px #00509d;
}
.tcsm [id^="tab"]:checked+label .fa {
	color: #00509d;
}
label .fa {
	font-size: 1.3em;
	margin: 0 .4em 0 0;
}
@media only screen and (max-width:900px) {
l span {
	display: none
}
.tcsm {
	width: 100%
}
}
@keyframes fadeInScale {
0% {
transform:scale(0.9);
opacity:0;
}
100% {
transform:scale(1);
opacity:1
}
}
.nw1 {
	text-align: center;
	color: #00509d;
	font-weight: bold
}
.nw1:after {
	content: "My good name as a professional seller is more important to me than huge profits. Therefore, you can rely on me for a fair and honest transaction."
}
.lsm {
	text-align: center
}
.ctn {
	background-color: #ededed;
	text-indent: -5px;
	border: 2px solid #00509d;
	display: inline-block;
	color: #777;
	font-weight: bold;
	height: 57px;
	line-height: 50px;
	width: 190px;
	text-decoration: none;
	text-align: center
}
.ctn:hover {
	background-color: #dfdfdf
}
.ctn:active {
	position: relative;
	top: 1px
}
.r {
	color: #f0755b
}
.sm01:after {
	content: " I do my very best to describe every item in detail and accurately. I try to do this while being informative, a little entertaining and including important information like the condition and any possible flaws. All photos in my listings are taken by me and are of the actual item being sold."
}
.sm02:after {
	content: " Bottom line, I want you to be happy with your item, get it as fast as possible and be happy with me as a seller."
}
.sm03:after {
	content: " Please check the measurements, color, size, shape, etc. of the item you are buying before you place a bid, send an offer or hit the buy it now button. I like my pictures and videos too and while they may be worth a thousand words or more they can’t tell an items full story."
}
.sm04:after {
	content: " If there is more information you want about an item, ask. I am always connected and I respond very quickly, unless I am asleep. Something doesn’t fit right with the title/description and the item? Ask me about it, I’ve been known to make mistakes (I am only human) and thankfully buyers have let me know that the error was there. The only stupid questions are the ones you never ask...or something like that."
}
.sm05:after {
	content: " If there is a problem with something you purchased then contact me first. Give me the chance to make it right."
}
.sm08:after {
	content: " If for any reason you are not happy with your purchase I will gladly accept returns within 30 days of receipt (excluding AS-IS items, lots, clothing, and perishables)."
}
.sm09:after {
	content: " I encourage you to view the 4x zoomed image of the item to verify its condition prior to purchase, avoiding you the hassle of requesting a return."
}
.sm10:after {
	content: " Depending on the item(s) you purchase and the location to which the items will be delivered, different shipping methods are available. At checkout, you will be prompted to choose a shipping method. Shipping costs are based on the shipping method that you choose. Your total shipping charges will automatically compute during checkout prior to the completion of your order."
}
.sm12:after {
	content: " I would be happy to hear from you! I am  dedicated to my customers and feel you should have the personal attention you deserve. Not only do I offer incredible pricing, but it is my desire to earn 5 Stars from you every day. I continue to make YOU, my customer, my  number one priority. I want your continued business! I would love to hear from you if you have questions, suggestions or just want to chat!"
}
.sm13:after {
	content: " You will pay full shipping on the first item or whichever item in your order has the highest shipping rate. For each additional item you will save 50% off of the advertised shipping price. Additional items under 8 ounces will usually ship for only $0.05 Domestically and $0.40 Internationally."
}
.sm15:after {
	content: " Returns must be accompanied by the original packaging. Refunds will be issued for the purchase price of the item(s) returned. Shipping Costs are nonrefundable unless the error lies with how the item was listed. We cannot assume responsibility for lost shipments."
}
.des1 {
	color: #747474;
	font-size: 18px;
	font-weight: bold;
	padding-left: 28px;
}
